{% extends "base.html" %}
{% block title %}{{ diff.name or "diffswarm" }}{% endblock %}
{% block scripts %}
  <script type="importmap">
    {
      "imports": {
        "preact": "https://esm.sh/preact@10.23.1",
        "preact/": "https://esm.sh/preact@10.23.1/",
        "@preact/signals": "https://esm.sh/@preact/signals@1.3.0?external=preact",
        "htm/preact": "https://esm.sh/htm@3.1.1/preact?external=preact",
        "marked": "https://esm.sh/marked@4.3.0"
      }
    }
  </script>
{% endblock %}
{% block content %}
  <div class="py-8">
    <div
      id="app"
      data-diff-prefetch="{{ diff.model_dump_json(by_alias=True) }}"
      data-comments-prefetch="[{% for comment in comments %}{{ comment.model_dump_json(by_alias=True) }}{% if not loop.last %},{% endif %}{% endfor %}]"
    ></div>
  </div>
  <script src="/static/js/diff.js?v={{ git_hash }}" type="module"></script>
{% endblock %}
