{% extends "base.html" %}
{% block title %}hello{% endblock %}
{% block scripts %}
  <script type="importmap">
    {
      "imports": {
        "preact": "https://esm.sh/preact@10.23.1",
        "preact/": "https://esm.sh/preact@10.23.1/",
        "@preact/signals": "https://esm.sh/@preact/signals@1.3.0?external=preact",
        "htm/preact": "https://esm.sh/htm@3.1.1/preact?external=preact"
      }
    }
  </script>
{% endblock %}
{% block content %}
  <div
    id="app"
    data-diff-prefetch="{{ diff.model_dump_json(by_alias=True) }}"
  ></div>
  <script src="/static/js/diff.js" type="module"></script>
{% endblock %}
